// Small tablets and large smartphones (landscape view)
$screen-xs-max: 767px;

// Small tablets (portrait view)
$screen-sm-min: 768px;

// Large tablets and desktops
$screen-lg-min: 992px;

$screen-xl-min: 1200px;