// Small tablets and large smartphones (landscape view)
$screen-xs-max: 990px;

// Small tablets (portrait view)
$screen-sm-min: 991px;

// Large tablets and desktops
$screen-lg-min: 992px;

$screen-xl-min: 1200px;