@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

// Global styles ---------------------------------
$primary-font-type: 'Josefin Sans', sans-serif;
$secondary-font-type: 'Lato', sans-serif; 

body {
    max-width: 100%;

    a {
        text-decoration: none;
        color: black;
    }
}

// Partials --------------------------------------
@import 'partials/header';
@import 'partials/footer';