@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$primary-font-type: 'Josefin Sans', sans-serif;
$secondary-font-type: 'Lato', sans-serif; 
$medium: 750px;
$large: 900px;

// Global styles ---------------------------------
html {
    height: 100%;
}

body {
    height: 100%;
    max-width: 100%;
    background: url('../assets/lost album cover.jpg') center;
    background-size: cover;

    button {
        background-color: black;
        height: 3em;
        width: 80%;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 150px;
        padding-bottom: 10px;
        opacity: .85;
    }

    button:hover {
        color: black;
        background-color: lightgrey;
    }

    a {
        text-decoration: none;
        color: floralwhite;
    }
}

// Partials --------------------------------------
@import 'partials/header';
@import 'partials/home';