@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$primary-font-type: 'PT Serif', TimesNewRoman, Times, serif;; 

// Global styles ---------------------------------
html {
    height: 100%;
}

body {
    height: 100%;
    max-width: 100%;
    // background: url('../assets/lost album cover.jpg') center fixed;
    background-size: cover;
    background-color: rgb(27, 27, 27);
    font-family: $primary-font-type;
}

a {
    text-decoration: none;
}

// Partials --------------------------------------
@import './breakpoints';
@import './mixins';
@import 'partials/header';
@import 'partials/home';