@import '../node_modules/foundation-sites/scss/foundation';
@import './breakpoints';
@import './mixins';

@include foundation-global-styles;
@include foundation-grid;

$primary-font-type: 'PT Serif', TimesNewRoman, Times, serif;; 

// Global styles ---------------------------------
html {
    height: 100%;
}

body {
    height: 100%;
    max-width: 100%;
    background-size: cover;
    background-color: rgb(27, 27, 27);
    font-family: $primary-font-type;
}

.view-container {
    @include lg {
        @include grid-row;
        width: 100%;
    }

    .nav-section {
        @include lg {
            @include grid-column(2);
        }
    }

    .content-section {
        @include lg {
            @include grid-column(10);
        }
    }
}

a {
    text-decoration: none;
}

p {
    color: rgb(255, 255, 255);
}

// Partials --------------------------------------
@import 'partials/header';
@import 'partials/nav';
@import 'partials/home';