.content-container {
    .p-container {
        width: 100%;
        max-width: 850px;
        @include lg {
          width: 583px;
          max-width: none;
        }
        margin-top: 30px;
        margin-bottom: 50px;

        p {
          @include lg {
            font-size: .8em;
          }
          font-size: 1.15em;
        }
    }

    h3 {
      font-size: 1.8em;
      @include lg {
        font-size: 1em;
      }
      color: rgb(255, 255, 255);
      margin-bottom: 10px;
    }

    h4 {
      font-size: 1.2em;
      @include lg {
        font-size: .7em;
      }
      color: rgb(174, 174, 174);
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    .list {
      list-style-type: none;
      margin: 0 auto;
      @include lg {
          display: inline-block;
          list-style-type: none;
          margin-right: 50px;
          font-size: .8em;
          color: rgb(255, 255, 255);
      }
      margin-bottom: 20px;
      font-size: 1.15em;
      color: rgb(255, 255, 255);

      li {
        margin-bottom: 20px;
      }
    }

    #links {
      list-style-type: "- ";
      width: 700px;
      margin: 0 auto;
      @include lg {
          list-style-type: "- ";
          width: 300px;
          display: inline-block;
          margin-right: 50px;
          font-size: .8em;
          color: rgb(255, 255, 255);
      }
      margin-bottom: 20px;
      font-size: 2em;
      color: rgb(255, 255, 255);
    }
  }
