#header {
  @include lg {
    width: 200px;
  }
}

h1 {
  font-size: 3em;
  @include lg {
    font-size: 1.3em;
  }
  margin: 70px 40px 30px 40px;
  @include lg {
    margin: 70px 40px 20px 40px;
  }
  a {
    color: whitesmoke;
  }
}
