.content-container {
  width: 90%;
  margin-bottom: 200px;
  margin-left: 50px;
  padding-top: 70px;
  @include lg {
    padding-top: 0px;
    padding-left: 40px;
  }

  .img-container {
    @include lg {
        margin: 0 auto;
    }
    img {
        width: 100%;
        border-radius: 0.5%;
        margin-top: 20px;
        @include lg {
          width: 70%;
          margin-top: 0;
        }
      }
  }

  .iframe {
    align-items: center;
  }
}
