.content-container {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 200px;
  padding: 70px 20px 0;
  @include lg {
    width: 90%;
    margin-left: 50px;
    padding: 0 0 0 40px;
  }

  .img-container {
    @include lg {
        margin: 0 auto;
    }
    img {
        width: 100%;
        border-radius: 0.5%;
        margin-top: 20px;
        @include lg {
          width: 70%;
          margin-top: 0;
        }
      }
  }

  .iframe {
    align-items: center;
  }
}
