<section class="content-container">
    <div ng-init="load()" class="album-page">
        <h2>Dragon</h2>
        <div class="album-container">
            <div class="album-embed desktop">
                <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3431176857/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/transparent=true/" seamless><a href="https://leowolf.bandcamp.com/album/dragon">Dragon by Leo Wolf</a></iframe>
            </div>
            <div class="album-embed mobile">
                <iframe style="border: 0; width: 700px; height: 700px;" src="https://bandcamp.com/EmbeddedPlayer/album=3431176857/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="https://leowolf.bandcamp.com/album/dragon">Dragon by Leo Wolf</a></iframe>
            </div>
            <div class="album-description">
                <p>
                    Dragon was made using a microkorg, sp-404sx, and field recordings from a trip to Guangzhou, China
                    <br>
                    <br>
                    Recorded in 2016-2018
                    <br>
                    <br>
                    credits
                    <br>
                    <br>
                    Mixed by Khalif J. Guiden
                    <br>
                    Mastered by Cory Allen at Altered Ear
                </p>
            </div>
        </div>
    </div>
</section>