<section class="content-container">
    <div ng-init="load()" class="album-page">
        <h2>Faces / Phases</h2>
        <div class="album-container">
            <div class="album-embed desktop">
                <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=579280297/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/transparent=true/" seamless><a href="https://leowolf.bandcamp.com/album/veiled-in-light">Veiled in Light by Leo Wolf</a></iframe>
            </div>
            <div class="album-embed mobile">
                <iframe style="border: 0; width: 700px; height: 700px;" src="https://bandcamp.com/EmbeddedPlayer/album=579280297/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="https://leowolf.bandcamp.com/album/veiled-in-light">Veiled in Light by Leo Wolf</a></iframe>
            </div>
            <div class="album-description">
                <p>
                    Cathartic metamorphosis
                    <br>
                    <br>
                    credits
                    <br>
                    <br>
                    Leo Wolf - synths and electronics on tracks 1.1 and 1.2
                    <br>
                    Raphael Alvarez - synths, guitar, and electronics on tracks 2.1 and 2.2
                    <br>
                    Mastered by Philip Fore
                    <br>
                    Design by Leo Wolf
                    <br>
                    <br>
                    The Oldest River // TOR002    
                </p>
            </div>
        </div>
    </div>
</section>