<section class="content-container">
    <div ng-init="load()" class="album-page">
        <h2>Leo Wolf & Teroscu</h2>
        <div class="album-container">
            <div class="album-embed desktop">
                <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2889979103/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/transparent=true/" seamless><a href="https://blindreading.bandcamp.com/album/leo-wolf-teroscu">Leo Wolf &amp; Teroscu by Leo Wolf &amp; Teroscu</a></iframe>
            </div>
            <div class="album-embed mobile">
                <iframe style="border: 0; width: 700px; height: 700px;" src="https://bandcamp.com/EmbeddedPlayer/album=2889979103/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="https://blindreading.bandcamp.com/album/leo-wolf-teroscu">Leo Wolf &amp; Teroscu by Leo Wolf &amp; Teroscu</a></iframe>
            </div>
            <div class="album-description">
                <p>
                    Go leap from the clouds!
                    <br>
                    A storm shy in the sunlight
                    <br>
                    Hides without knowing
                    <br>
                    <br>
                    "Leo Wolf & Teroscu" consists of two long form ambient drones:
                    <br>
                    <br>
                    Side A “I Hear Your Voice, I Feel You In Everything” is a 30 minute piece by Leo Wolf, made of 
                    looped orchestral swells from sampled classical records, processed through granular synthesis and 
                    various effects. Throughout the 30 minute duration, waves of sound build, crash, and retreat, drawing
                    on the cyclical nature of the universe and the overwhelming interconnectedness of everything.
                    <br>
                    <br>
                    Side B Below The Underformed Heavens - from the artist "Living with a take off flight path above my 
                    house was my formative listening environment. When air travel is at peak season, planes take off 
                    every 3 minutes. The sound of jet noise can be heard drifting until the next plane soars by. This 
                    was all amplified not long after moving in the summer of 2001. Living in the modern world, you can't 
                    know silence."
                    <br>
                    <br>
                    Leo Wolf and Teroscu first crossed paths in 2021 when they both performed at Petra’s Piano Bar in 
                    Charlotte, NC, a popular venue for local indie music, and frequent haunt for them both. Teroscu’s 
                    performance took form as a self generating sound installation, employing a handful of hardware synths 
                    and effects. The two bonded over similar music tastes, interests in audio engineering, sound design,
                    and hardware. In early 2023 Leo launched Dead Letters Archive to provide a platform for artists making 
                    experimental electronic music which led to this collaboration.
                    <br>
                    <br>
                    credits
                    <br>
                    <br>
                    Mastered by Andrew "Sweet Boy" Strickland
                    <br>
                    Artwork by Thomas Gordon
                </p>
            </div>
        </div>
    </div>
</section>