<section class="content-container">
    <div ng-init="load()" class="album-page">
        <h2>Magnolia</h2>
        <div class="album-container">
            <div class="album-embed desktop">
                <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1442649780/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/transparent=true/" seamless><a href="https://leowolf.bandcamp.com/album/magnolia">Magnolia by Leo Wolf</a></iframe>
            </div>
            <div class="album-embed mobile">
                <iframe style="border: 0; width: 700px; height: 700px;" src="https://bandcamp.com/EmbeddedPlayer/album=1442649780/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="https://leowolf.bandcamp.com/album/magnolia">Magnolia by Leo Wolf</a></iframe>
            </div>
            <div class="album-description">
                <p>
                    I began recording ‘Magnolia’ in the weeks after my sister passed away. I felt overwhelmed with a kind 
                    of nostalgia, and when I began to explore that, this album took form. These songs play on themes of 
                    memory, and the passage of time; concepts that define our lives and help us to navigate our lives in
                    past and present, in reflections,in parallel with ourselves.
                    <br>
                    <br>
                    credits
                    <br>
                    <br>
                    Recorded and mixed by Leo Wolf
                    <br>
                    Mastered by Nathan Moody at Obsidian Sound
                </p>
            </div>
        </div>
    </div>
</section>