<section class="content-container">
    <div ng-init="load()" class="album-page">
        <h2>Veiled in Light</h2>
        <div class="album-container">
            <div class="album-embed desktop">
                <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=4105031244/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/transparent=true/" seamless><a href="https://leowolf.bandcamp.com/album/veiled-in-light">Veiled in Light by Leo Wolf</a></iframe>
            </div>
            <div class="album-embed mobile">
                <iframe style="border: 0; width: 700px; height: 700px;" src="https://bandcamp.com/EmbeddedPlayer/album=4105031244/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="https://leowolf.bandcamp.com/album/veiled-in-light">Veiled in Light by Leo Wolf</a></iframe>
            </div>
            <div class="album-description">
                <p>
                    Inspired by light and sensory perception, psychedelics, religious imagery, and cyclical patterns.
                    <br>
                    <br>
                    These recordings were made by processing and arranging sampled material from records, field 
                    recordings, archival audio, synthesizers, and acoustic instruments (autoharp, cymbals, wind chimes).
                    The majority of processing was done on a modular synthesizer with some additional treatments, 
                    arrangement, and mixing on the computer.
                    <br>
                    <br>
                    credits
                    <br>
                    <br>
                    Produced by Leo Wolf in Fall 2025 in Charlotte, North Carolina
                    <br>
                    <br>
                    Mastered by Rafael Anton Irisarri at Black Knoll Studio
                    <a href="https://blackknoll.com" style="font-weight: bold">blackknoll.com</a>
                    <br>
                    <br>
                    Artwork by Leo Wolf
                    The album cover contains a photo taken beneath the Great Dome skylight at MIT in Cambridge, MA.
                    <br>
                    <br>
                    Track 5, "Blood meets the iris", contains audio taken from an interview about a near death experience. 
                    The interview was recorded by an organization called Near-Death Experiencers. Below are links to their 
                    website and to the interview:
                    <br>
                    <br>
                    <a href="https://neardeathexperiencers.wmthost.com" style="font-weight: bold">neardeathexperiencers.wmthost.com</a>
                    <br>
                    <a href="https://youtube.com/watch?v=quU1xPeOtWs" style="font-weight: bold">youtube.com/watch?v=quU1xPeOtWs</a>     
                </p>
            </div>
        </div>
    </div>
</section>