.content-container {
    width: 90%;
    margin-bottom: 200px;
    margin-left: 50px;
    padding-top: 70px;
    @include lg {
      padding-top: 0px;
      padding-left: 40px;
    }
  
    .img-container {
      @include lg {
          margin: 0 auto;
      }
      img {
          width: 100%;
          border-radius: 0.5%;
          margin-top: 170px;
          @include lg {
            width: 70%;
            margin-top: 0;
          }
        }
    }

    .p-container {
        @include lg {
          width: 583px;
        }
        width: 850px;
        margin-top: 30px;

        p {
          @include lg {
            font-size: .8em;
          }
          font-size: 2em;
        }

        .lab-container {

            img {
                display: block;
                width: 100px;
                @include lg {
                    width: 70px;
                }
                margin: 0 auto;
                margin-top: 30px;
            }
        }
    }
  }