.content-container {
    width: 90%;
    margin-bottom: 200px;
    margin-left: 50px;
    padding-top: 70px;
    @include lg {
      padding-top: 0px;
      padding-left: 40px;
    }
  
    .img-container {
      @include lg {
          margin: 0 auto;
      }
      img {
          width: 100%;
          border-radius: 0.5%;
          margin-top: 20px;
          @include lg {
            width: 70%;
            margin-top: 0;
          }
        }
    }

    .p-container {
        @include lg {
          width: 583px;
        }
        width: 850px;
        margin-top: 30px;
        margin-bottom: 50px;

        p {
          @include lg {
            font-size: .8em;
          }
          font-size: 2em;
        }
    }

    h3 {
      font-size: 2.5em;
      @include lg {
        font-size: .8em;
      }
      color: rgb(255, 255, 255);
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    #links {
      width: 700px;
      margin: 0 auto;
      @include lg {
          width: 300px;
          display: inline-block;
          margin-right: 50px;
          font-size: .8em;
          color: rgb(255, 255, 255);
      }
      margin-bottom: 20px;
      font-size: 2em;
      color: rgb(255, 255, 255);
    }
  }