footer {
    @include grid-row();
    display: block;
    max-width: 100%;
    background-color: black;
    height: 190px;
    @include breakpoint($medium) {
        height: 120px;
    }
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    #footer {
        @include grid-column(12);
        @include grid-row();
        color: lightgrey;

        #cr-container {
            @include grid-column(12);
            text-align: left;
            font-size: 2em;
            @include breakpoint($medium) {
                font-size: 1em;
            }
            font-family: $secondary-font-type;
            padding: 5px 20px;
        }

        #social-media {
            @include grid-column(12);
            font-size: 1.5em;
            @include breakpoint($medium) {
                font-size: .75em;
            }

            .fa {
                font-size: 2em;
                width: 1em;
                margin-right: 10px;
                color: white;
            }

            #fb {
                margin-left: .5em;
            }
        }
    }
}

