.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 30px;
    background-color: white;

    p {
        text-align: center;
        font-size: .7em;
        font-family: $secondary-font-type;
        padding: 20px;
    }
}

