nav {
    @include grid-row();

    #logo {
        @include grid-column(4);
        font-size: .85em;
        font-family: $primary-font-type;
        padding-top: 5px;
    }

    #nav-links {
        @include grid-column(6);
        font-family: $secondary-font-type;
        
        ul {
            margin-top: 25px;
            padding: 0px;
            text-align: center;

            li {
                list-style-type: none;
                display: inline;
                margin: 0 auto;
                margin-right: 20px;
            }
        }
    }
}