.hero {
    height: 100%;
    // background-image: url("assets/rain-water.jpg");

    img {
        display: block;
        margin: 0 auto;
        padding-top: 75px;
        padding-bottom: 75px;
        width: 35%;
    }
}