.artists-page {
    ul {
        list-style-type: none;
    }

    li {
        width: 200px;
    }

    #image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    #name {
        text-align: center;
        font-family: $secondary-font-type;
    }
}