.nav-container {
  nav {
    ul {
      margin-left: 40px;
      padding: 0;
      @include lg {
        margin-top: 0;
        margin-left: 10px;
      }
    }
    li {
      color: rgb(255, 255, 255);
      list-style-type: none;
      display: inline-block;
      font-size: 2em;
      @include lg {
        font-size: 0.8em;
        display: block;
        margin-bottom: 10px;
      }
      a {
        color: rgb(255, 255, 255);
        @include lg {
          padding-left: 8px;
        }
      }
    }
    li:after {
      content: "|";
      @include lg {
        content: "";
      }
      margin: 0 8px 0 8px;
      color: rgb(255, 255, 255);
      font-weight: normal;
    }
    li:last-child:after {
      content: "";
    }
  }
}
