<div class="nav-container">
    <nav>
      <div id="nav-links">
        <ul>
          <li>
            <a href="/bio">About</a>
          </li>
          <li>
            <a href="/discography">Discography</a>
          </li>
          <li>
            <a href="/art">Artwork</a>
          </li>
          <li>
            <a href="/cv">CV</a>
          </li>
          <li>
            <a href="https://www.youtube.com/@leowolfmusic">Youtube</a>
          </li>
        </ul>
      </div>
    </nav>
</div>
