<section class="content-container">
    <div class="p-container">
        <p id="bio">Leo Wolf is an artist, and engineer. His music combines synthesis with heavily 
            processed samples, field recordings, and archival sounds to create hypnotic drones and 
            textures, and is inspired by themes of memory, time, and dreams. He also explores visual
            art mediums such as monotype printmaking.
            <br>
            <br>
            His work in both the audio and visual realms seeks to investigate connections between the 
            physical and metaphysical, inner and outer realms that consistute our lived experience.
            <br>
            <br>
            Leo is the founder and curator of the drone and experimental label Dead Letters Archive,
            and co-founder of Sinetology, a North Carolina based electronic music label and collective
            with a focus on hardware and live events.
        </p>
    </div>
    <div class="img-container">
        <img src="./assets/sinepss.jpg">
    </div>
</section>
