<section class="content-container">
    <div class="img-container">
        <img src="./assets/leo bio photo.jpg">
    </div>
    <div class="p-container">
        <p id="bio">Leo Wolf is a musician/artist/programmer from Charlotte, North Carolina. 
            Getting his start in music production as a beatmaker under the alias Snoom, Leo 
            developed a love for working with samples and heavily effected sounds. Through a 
            combination of curiousity, instinct, and musical tastes, he began producing and 
            performing more experimental forms of music falling into the drone and ambient genres. 
            This ultimately led to deeper exploration of synthesis concepts and sound design, 
            involving hardware synths & samplers, tape machines, effects pedals, and modular 
            analog gear.
            <br>
            <br>
            His work, in both the audio and visual realms, seeks to form and refine connections 
            between the physical and metaphysical nature of existence, taking inspiration from 
            memories, time, reflections, the occult, and symbolism in dreams. The labyrinth 
            symbolizes the concept of a parallel existence between the inner and outer, and their 
            inference of each other.
            <br>
            <br>
            Leo is the founder and curator of the drone and experimental label Dead Letters Archive,
            and co-founder of Sinetology, a Charlotte-based electronic music label and collective
            with a focus on hardware and live events.
        </p>
        <div class="lab-container">
            <img src="./assets/labyrinth white.png">
        </div>
    </div>
</section>
