<section class="content-container">
    <div class="img-container">
        <img src="./assets/leo bio photo.jpg">
    </div>
    <div class="p-container">
        <p id="bio">Leo Wolf is a musician and artist from Charlotte, North Carolina. 
            Using various synthesis, sampling, and looping techniques he creates warm 
            textural soundscapes, often falling under the experimental/ambient/drone genres. 
            His weapon of choice for recording and live performance is a eurorack modular 
            synthesizer.
            <br>
            <br>
            Leo takes inspiration from symbolism, and conceptual and natural phenomena including 
            dreams, reflections, memory, and time. The labyrinth is a recurring symbol and source
            of inspiration as it represents the cyclical nature of existence and the parallels 
            between the physical and metaphysical world. Actively seeking out these symbolic phenomena
            can be described as "Portal Hunting", a phrase coined by Leo.
            <br>
            <br>
            In 2019 Leo began performing and collaborating with Sinetology, a Charlotte-based 
            electronic music label and collective. Sinetology features a multi-genre catalog of 
            artists and releases ranging from techno/acid/house to ambient/noise and blurring the
            lines in between.
        </p>
        <div class="lab-container">
            <img src="./assets/labyrinth white.png">
        </div>
    </div>
</section>
