<footer>
    <div id="footer">
        <p id="copyright">conscious pool | &#9400; 2017 |</p>
        <div id="social-media">
            <a id="fb" href="https://www.facebook.com/conscious-pool-1914280308783366/"><i id="sm-link" class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/conscious_pool/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <!--<a href="twitter.com"><img id="sm-link" src="twitter-grey.png"/></a>-->
        </div>
    </div>
</footer>