<header>
    <nav>
        <div id="logo">
            <div>
            <a ui-sref="home">
                <img src="assets/conscious pool logo.png"/>
            </a>
            </div>
        </div>
        <div id="nav-links">
            <ul>
                <li>
                    <a href="https://leowolf.bandcamp.com">
                        <button>leo wolf</button>
                    </a>
                </li>
                <li>
                    <a href="https://snoom.bandcamp.com">
                        <button>snoom</button>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCpOt4Fh0cjLGeM3OpvDV66w?view_as=subscriber">
                        <button>youtube</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
