<header>
    <nav>
        <div id="logo">
            <div>
            <a ui-sref="home">
                <img src="assets/conscious pool logo.png"/>
            </a>
            </div>
        </div>
        <div id="nav-links">
            <ul>
                <li><a ui-sref="music">music</a></li>
                <li class="nav-slash">//</li>
                <li><a ui-sref="art">artwork</a></li>
                <li class="nav-slash">//</li>
                <li><a ui-sref="cv">cv</a></li>
            </ul>
        </div>
    </nav>
</header>
