<header>
    <nav>
        <div id="logo">
            <img src="assets/conscious pool logo.png"/>
        </div>
        <div id="title-container">
            <h1 id="title"><a ui-sref="home" id="title-link">CONSCIOUS POOL</a></h1>
        </div>
        <div id="nav-links">
            <ul>
                <li><a ui-sref="artists">artists</a></li>
                <li><a ui-sref="media">media</a></li>
                <li><a ui-sref="about">about</a></li>
                <li><a ui-sref="contact">contact</a></li>
            </ul>
        </div>
    </nav>
</header>
