<section class="content-container">
    <div class="img-container">
        <a ui-sref="isysotw">
            <img src="assets/discog/isysotw album cover.png">
        </a>
    </div>
    <br>
    <br>
    <div class="iframe">
        <iframe width="583" height="338" src="https://www.youtube.com/embed/UXJzNMYpMBM?si=_iqZr1LGjkNjt1Jx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>