<div class="nav-container">
    <nav>
      <div id="nav-links">
        <ul>
          <li>
            <a ui-sref="bio">Bio</a>
          </li>
          <li>
            <a ui-sref="discography">Discography</a>
          </li>
          <li>
            <a ui-sref="art">Artwork</a>
          </li>
          <li>
            <a href="https://deadlettersarchive.bandcamp.com">Dead Letters Archive</a>
          </li>
          <li>
            <a ui-sref="links">Links</a>
          </li>
        </ul>
      </div>
    </nav>
</div>