<section class="content-container">
    <div class="img-container private-page">
        <iframe style="border: 0; width: 700px; height: 1000px;" src="https://bandcamp.com/EmbeddedPlayer/album=4105031244/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/tracklist=true/tracks=3522926361,3826186940,2504667688,364428599,4108408266,1901059079/esig=e7ffccede8d092bc50a2761348353eb3/" seamless>
            <a href="https://leowolf.bandcamp.com/album/veiled-in-light">Veiled in Light by Leo Wolf</a>
        </iframe>
    </div>
</section>